{{ 'feature-media.css' | asset_url | stylesheet_tag }}

<div class="container feature color-{{ section.settings.color_scheme }}">
  <div class="feature__content">
    {% if section.settings.subtitle != blank %}
      <span class="feature__subtitle">{{ section.settings.subtitle }}</span>
    {% endif %}

    {% if section.settings.title != blank %}
      <h2 class="feature__title">{{ section.settings.title }}</h2>
    {% endif %}

    {% if section.settings.description != blank %}
      <p class="feature__subtitle-content">{{ section.settings.description }}</p>
    {% endif %}
  </div>

  <div class="feature__cards">
    <div class="feature__cards-inner">
      {% for block in section.blocks %}
        <figure class="feature__card">
          {% if block.settings.image != blank %}
            <div class="feature__card-image">
              <img
                src="{{ block.settings.image | image_url: width: 24, height: 24 }}"
                alt="{{ block.settings.title }}"
                width="24"
                height="24"
                loading="lazy"
                alt="icon"
                class="scroll-trigger animate--fade-in"
              >
            </div>
          {% endif %}

          <figcaption class="feature__card-content">
            {% if block.settings.title != blank %}
              <h3 class="feature__card-title">{{ block.settings.title }}</h3>
            {% endif %}

            {% if block.settings.description != blank %}
              <p class="feature__card-description">{{ block.settings.description }}</p>
            {% endif %}

            {% if block.settings.url != blank %}
              <a href="{{ block.settings.url }}" class="feature__card-link" aria-label="{{ block.settings.title }}"
                >Learn more</a
              >
            {% endif %}
          </figcaption>
        </figure>
      {% endfor %}
    </div>

    <div class="feature__cards-background">
      <div class="feature__cards-background-inner">
        <picture>
          <source media="(min-width: 993px)" srcset="{{ 'Credit1.webp' | asset_url }}" type="image/webp">
          <source media="(max-width: 992px)" srcset="{{ 'feature-media-mobile.css.webp' | asset_url }}" type="image/webp">
          <img class="cards-background-inner--top scroll-trigger animate--fade-in" loading="lazy" alt="credit card" width="479" height="288" src="{{ 'Credit1.png' | asset_url }}" fetchpriority="high">
        </picture>
        <picture>
          <source media="(min-width: 993px)" srcset="{{ 'Credit2.webp' | asset_url }}" type="image/webp">
          <img class="cards-background-inner--middle scroll-trigger animate--fade-in" loading="lazy" alt="credit card" width="479" height="288" src="{{ 'Credit2.png' | asset_url }}">
        </picture>
        <picture>
          <source media="(min-width: 993px)" srcset="{{ 'Credit3.webp' | asset_url }}" type="image/webp">
          <img class="cards-background-inner--bottom scroll-trigger animate--fade-in" loading="lazy" alt="credit card" width="479" height="288" src="{{ 'Credit3.png' | asset_url }}">
        </picture>
      </div>
      <img class="feature--card-mobile scroll-trigger animate--fade-in" loading="lazy" alt="credit card" width="375" height="320" src="{{ 'feature-media-mobile.css.webp' | asset_url }}" fetchpriority="high">
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Features",
  "tag": "section",
  "class": "section-inspiration",
  "settings": [
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background image"
    }
  ],
  "blocks": [
    {
      "type": "feature",
      "name": "Feature",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Learn more"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Feature Media"
    }
  ]
}
{% endschema %}
