{{ 'feature-media.css' | asset_url | stylesheet_tag }}

<div class="container feature color-{{ section.settings.color_scheme }}">
  <div class="feature__content">
    {% if section.settings.subtitle != blank %}
      <span class="feature__subtitle">{{ section.settings.subtitle }}</span>
    {% endif %}

    {% if section.settings.title != blank %}
      <h2 class="feature__title">{{ section.settings.title }}</h2>
    {% endif %}

    {% if section.settings.description != blank %}
      <p class="feature__subtitle-content">{{ section.settings.description }}</p>
    {% endif %}
  </div>

  <div class="feature__cards">
    <div class="feature__cards-inner">
      {% for block in section.blocks %}
        <figure class="feature__card">
          <div class="feature__card-image">
            <img src="{{ block.settings.image | image_url: width: 24, height: 24 }}" alt="{{ block.settings.title }}" width="24" height="24">
          </div>

          <figcaption class="feature__card-content">
            <h3 class="feature__card-title">{{ block.settings.title }}</h3>
            <p class="feature__card-description">{{ block.settings.description }}</p>
            <a href="{{ block.settings.url }}" class="feature__card-link" aria-label="{{ block.settings.title }}">Learn more</a>
          </figcaption>

        </figure>
      {% endfor %}
    </div>

    <div class="feature__cards-background">
      <div class="feature__cards-background-inner">
        {% comment %} <img src="{{ section.settings.background_image | image_url: width: 24, height: 24 }}" alt="" class="feature__cards-background-image--top" width="479" height="288">
        <img src="{{ section.settings.background_image | image_url: width: 24, height: 24 }}" alt="" class="feature__cards-background-image--middle" width="479" height="288">
        <img src="{{ section.settings.background_image | image_url: width: 24, height: 24 }}" alt="" class="feature__cards-background-image--bottom" width="479" height="288">
       {% endcomment %}
      </div>
    </div>

  </div>
</div>

{% schema %}
{
  "name": "Features",
  "tag": "section",
  "class": "section-inspiration",
  "settings": [
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background image"
    }
  ],
  "blocks": [
    {
      "type": "feature",
      "name": "Feature",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Learn more"
        },
      ]
    }
  ],
  "presets": [
    {
      "name": "Feature Media"
    }
  ]
}
{% endschema %}
